<% div_for issue, :class => issue.kanban_blocked? ? 'blocked' : '' do %>
  <p class="issue-dates">
    <span class="issue-start-date"><%= h(issue.start_date) -%></span>
    <span class="issue-end-date"><%= h(issue.due_date) -%></span>
  </p>
  
  <% if issue.expedite? %>
  <p class="expedite">
    <%= image_tag('star.png', :alt => l(:simple_kanban_text_expedite_issue), :title => l(:simple_kanban_text_expedite_issue), :plugin => 'redmine_simple_kanban') %>
  </p>
  <% end %>

  <p>
    <%= link_to_issue(issue, :project => true) %>
  </p>

  <% if issue.assigned_to.present? %>
  <p class="assigned-to">
    <%= l(:field_assigned_to) %>: <%= link_to_user(issue.assigned_to) %>
    <%= avatar(issue.assigned_to, :size => "14") %>
  </p>
  <% else %>
  <p class="assigned-to">
    <%= button_to(l(:simple_kanban_text_take_issue), take_issue_simple_kanban_path(:issue_id => issue.id), :method => :put) %>
  </p>
  <% end %>
<% end %>
