<div id="kanban-board">
  <div class="swimlane" id="backlog-swimlane">
    <%= swimlane_label(:simple_kanban_label_backlog_swimlane, @backlog_issues) %>
    <div>
      <% @backlog_issues.each do |project, issues| %>
        <%= content_tag(:h4, link_to_project(project)) %>
        <%= render :partial => 'issue', :collection => issues %>
      <% end %>
    </div>
  </div>

  <div class="swimlane" id="next-swimlane">
    <%= swimlane_label(:simple_kanban_label_next_swimlane, @next_issues) %>
    <div>
      <% @next_issues.each do |project, issues| %>
        <%= content_tag(:h4, link_to_project(project)) %>
        <%= render :partial => 'issue', :collection => issues %>
      <% end %>
    </div>
  </div>

  <div class="swimlane" id="in-progress-swimlane">
    <%= swimlane_label(:simple_kanban_label_in_progress_swimlane, @in_progress_issues) %>
    <div>
      <% @in_progress_issues.each do |project, issues| %>
        <%= content_tag(:h4, link_to_project(project)) %>
        <%= render :partial => 'issue', :collection => issues %>
      <% end %>
    </div>
  </div>

  <div class="swimlane" id="acceptance-swimlane">
    <%= swimlane_label(:simple_kanban_label_acceptance_swimlane, @acceptance_issues) %>
    <div>
      <% @acceptance_issues.each do |project, issues| %>
        <%= content_tag(:h4, link_to_project(project)) %>
        <%= render :partial => 'issue', :collection => issues %>
      <% end %>
    </div>
  </div>

  <div class="swimlane" id="done-swimlane">
    <%= swimlane_label(:simple_kanban_label_done_swimlane, @done_issues) %>
    <div>
      <% @done_issues.each do |project, issues| %>
        <%= content_tag(:h4, link_to_project(project)) %>
        <%= render :partial => 'issue', :collection => issues %>
      <% end %>
    </div>
  </div>

</div>

<div style="clear:both;"></div>
