<div id="kanban-board">
  <div class="swimlane" id="next-swimlane">
    <%= content_tag(:h3, l(:simple_kanban_label_next_swimlane)) %>
    <div>
      <%= render :partial => 'issue', :collection => @next_issues %>
    </div
  </div>

  <div class="swimlane" id="in-progress-swimlane">
    <%= content_tag(:h3, l(:simple_kanban_label_in_progress_swimlane)) %>
    <div>
      <%= render :partial => 'issue', :collection => @in_progress_issues %>
    </div>
  </div>

  <div class="swimlane" id="acceptance-swimlane">
    <%= content_tag(:h3, l(:simple_kanban_label_acceptance_swimlane)) %>
    <div>
      <%= render :partial => 'issue', :collection => @acceptance_issues %>
    </div>
  </div>

  <div class="swimlane" id="done-swimlane">
    <%= content_tag(:h3, l(:simple_kanban_label_done_swimlane)) %>
    <div>
      <%= render :partial => 'issue', :collection => @done_issues %>
    </div>
  </div>

</div>

<div style="clear:both;"></div>
