<div class="contextual filter">
  <% form_tag({}, :id => 'filter_form') do %>
    <label for="filter"><%= l(:simple_kanban_label_filter) %></label>
    <%= select_tag("filter",
                   options_for_select([[l(:simple_kanban_label_filter_by),'']]) +
                   options_from_collection_for_select(User.active, :id, :name, params[:filter]), :include_blank => true) %>
                   
  <% end %>
</div>

<h2><%= l(:simple_kanban_title) %></h2>

<div class="flash error" style="display:none"></div>

<div style="clear:both;"></div>

<%= render :partial => 'dashboard', :locals => {:next_issue => @next_issue} %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_simple_kanban.css', :plugin => "redmine_simple_kanban" %>

  <%= javascript_include_tag 'jquery-1.4.2.min.js', :plugin => 'redmine_simple_kanban' %>
  <%= javascript_tag("jQuery.noConflict();") %>
  <%= javascript_include_tag 'simple-kanban.js', :plugin => 'redmine_simple_kanban' %>
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<% end %>

<% html_title l(:simple_kanban_title) %>
