<h2><%= l(:simple_kanban_title) %></h2>



<div id="next-issue" class="<%= @next_issue.css_classes %> details">
  <h2><%= l(:simple_kanban_text_next_issue) %></h2
  <%= content_tag(:h3, link_to_issue(@next_issue, :project => true)) %>
  <div class="description">
    <%= textilizable(@next_issue, :description) %>
  </div>
</div>

<div id="kanban-board">
  <div class="swimlane" id="next-swimlane">
    <%= content_tag(:h3, l(:simple_kanban_label_next_swimlane)) %>
    <div>
      <%= render :partial => 'issue', :collection => @next_issues %>
    </div
  </div>

  <div class="swimlane" id="in-progress-swimlane">
    <%= content_tag(:h3, l(:simple_kanban_label_in_progress_swimlane)) %>
    <div>
      <%= render :partial => 'issue', :collection => @in_progress_issues %>
    </div>
  </div>

  <div class="swimlane" id="acceptance-swimlane">
    <%= content_tag(:h3, l(:simple_kanban_label_acceptance_swimlane)) %>
    <div>
      <%= render :partial => 'issue', :collection => @acceptance_issues %>
    </div>
  </div>

  <div class="swimlane" id="done-swimlane">
    <%= content_tag(:h3, l(:simple_kanban_label_done_swimlane)) %>
    <div>
      <%= render :partial => 'issue', :collection => @done_issues %>
    </div>
  </div>

</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_simple_kanban.css', :plugin => "redmine_simple_kanban" %>
<% end %>

<% html_title l(:simple_kanban_title) %>
